<label for='param' class='rem' >Param:</label>
<input type='text' id='param' name="consulta[param]" value="<%consulta.param%>"/> <p>
<label for='reparam' class='rem' >Reparam:</label>
<input type='text' id='reparam' name="consulta[reparam]" value="<%consulta.reparam%>"/> <p>
<a href="/consulta"><button type="button">Cancela</button></a>
<input type="submit" value="Guarda">