<form method="get" action="/consulta/<%=consulta.id%>/lista">
Pregunta: <%=consulta.param%> <p>
<input type="text" name="param" placeholder="escriba!!" >
<input type="hidden" name="dim" value=<%=consulta.id%> >

<input type="submit" value="Dele!!">
</form>